#include <Wire.h>
#include <LiquidCrystal_I2C.h>

LiquidCrystal_I2C lcd(0x27, 16, 2);

int led = 13;
int tem = A1;
int sensor;

void setup() {
  pinMode(led, OUTPUT);
  pinMode(tem, INPUT);

  lcd.init();
  lcd.backlight();
}

void loop() {
  sensor = analogRead(tem);

  lcd.clear();
  lcd.setCursor(0, 0);
  lcd.print("Temp Value:");
  lcd.setCursor(0, 1);
  lcd.print(sensor);

  if (sensor > 500) {
    digitalWrite(led, HIGH);
  } else {
    digitalWrite(led, LOW);
  }

  delay(500);
}
